---
import Layout from '../layouts/Layout.astro';
import Header from '../components/widgets/Header.astro';
import Hero from '../components/widgets/Hero.astro';
import Features from '../components/widgets/Features.astro';
import ContentSections from '../components/widgets/ContentSections.astro';
import Steps from '../components/widgets/Steps.astro';
import Screenshots from '../components/widgets/Screenshots.astro';
import Achievements from '../components/widgets/Achievements.astro';
import TrialCode from '../components/widgets/TrialCode.astro';
import NotifyMe from '../components/widgets/NotifyMe.astro';
import Footer from '../components/widgets/Footer.astro';
---

<Layout title="Axiora - Data Analysis Made Simple">
  <Header />
  
  <main>
    <Hero />
    <Features />
    <ContentSections />
    <Steps />
    <Screenshots />
    <Achievements />
    <TrialCode />
    <NotifyMe />
  </main>
  
  <Footer />
</Layout>
